.filter-card {
    border-radius: 0;
    box-shadow: 0 1px 15px 1px rgba(69,65,78,.08)!important;
    background-color: #fff;
    padding: 8px 33px 16px 33px;
     
}
.tpfilter-card
{
    margin: 0.5% 0%;
border-radius: 0;
box-shadow: 0 1px 15px 1px rgb(69 65 78 / 8%) !important;
background-color: #4075a8;
height: 50px;
color: white;
}
.top_lbls{
    color: #ffeb3b;
    margin-right: 8px;
}
.state,.district,.mandal {
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    margin-top: 12px;
}
.bnfcryform{
    nz-form-label{
        padding-left: 2px!important;
    }
    .ant-form-item {
        margin: 0 0 0px!important;
    }
    nz-select{
        width: 100%;
    }
    nz-date-picker{
        width: 100%;
    }
    nz-form-control{
        padding-left:2px!important;
        padding-right:2px!important;
    }
}
.centertxt{
    text-align: center;
}
nz-divider{
    color: #4794dc!important;
}
.aprvbnfcrytble{
    width: 100%;
    overflow: auto;
    height: 400px;
    border: 1px solid #d9d9d9;
    margin-top: 20px;
}
.bnftrytble{
    width: 215%;
    thead{
        background: #bcdfff;
    }
    tr td{
        border:1px solid #efefef;
        padding: 6px 10px;
        text-align: center;
        width:200px
    }
    th{
        text-align: center;
        width:200px;
    }
}
.aprvlfrm{
    margin-top: 0px;
  }
  .tpcrdheight{
    height:50px;
  }
  // .tpbrdrs{
  //   border-left: 1px solid #d8d8d8;
  //   border-right: 1px solid #d8d8d8;
  // }
  // .top_lbls{
  //   color: #1890ff;
  //   margin-right: 8px;
  // }
  .rghtbrdr{
    border-right: 1px dashed #b8b8b8;
  }
  .btmbrdr{
    border-bottom: 1px dashed #b8b8b8;
  }
  .state,.district,.mandal{
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    margin-top: 5px;
    margin-top: 12px;
  }
  
  .pndngaprvalCrd{
    text-align: center;
    box-shadow: 0 1px 15px 1px rgb(69 65 78 / 8%) !important;
    padding: 20px 14px;
    margin: 10px 0px;
    .p_aprvl_cnt{
      font-size: 25px;
      font-weight: 500;
    }
    .p_aprvl_nm{
      font-size: 18px;
      font-weight: 500;
    }
  }
  .slwmftouploadform {
    nz-form-label {
      padding-left: 2px !important;
    }
    .ant-form-item {
      margin: 0 0 0px !important;
    }
    nz-select {
      width: 100%;
    }
    nz-form-control{
      padding-left: 2px!important;
      padding-right: 2px!important;
    }
  }
  .centertxt {
    text-align: center;
  }
  nz-divider {
    color: #4794dc !important;
  }
  .bnftrytble {
    margin-top: 10px;
    width: 100%;
    thead {
      background: #bcdfff;
    }
    tr td {
      border: 1px solid #efefef;
      padding: 6px 10px;
      text-align: center;
    }
    th {
      text-align: center;
    }
  }
  nz-month-picker {
    width: 100%;
  }
  nz-year-picker {
    width: 100%;
  }
  
  .aprvalTabs {
    ::ng-deep.ant-tabs-nav{
    width: fit-content!important;
    margin: 0px auto!important;
    margin-top: 20px!important;
    border: 1px solid #1890ff!important;
    }

    ::ng-deep.ant-tabs-tab-active {
      color: #ffffff!important;
      background: #1890ff!important;
  }
  ::ng-deep.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #ffffff!important;
  }
  ::ng-deep.ant-tabs-card.ant-tabs-top>.ant-tabs-nav .ant-tabs-tab+.ant-tabs-tab{
    margin-left: 0px!important;
  }

  }
  .topsctnFrm{
    margin-top:25px;
  }