<!-- <ul nz-menu nzMode="horizontal" class="boq_menu">
  <li nz-menu-item (click)="sor()">
    <span nz-icon nzType="mail"></span>
    SOR
  </li>
  <li nz-menu-item (click)="manual()">
    <span nz-icon nzType="appstore"></span>
    Manual
  </li>
  <li nz-menu-item (click)="template()">
    <span nz-icon nzType="appstore"></span>
    Template
  </li>
  <li nz-menu-item (click)="catalog()">
    <span nz-icon nzType="appstore"></span>
    Specificatioins Catalog
  </li>
</ul>

<div class="container" *ngIf="showsor">
<app-sor></app-sor>
</div>

<div class="container" *ngIf="showmanual">
<app-manual></app-manual>
</div>

<div class="container" *ngIf="showtemplate">
<app-template></app-template>
</div>

<div class="container" *ngIf="showspecs_catlg">
<app-specification-catalog></app-specification-catalog>
</div> -->


<ul nz-menu nzMode="horizontal" class="boq_menu">
  <li nz-menu-item nzMatchRouter>
    <a routerLink="/internal/work-mng/tendering/boq/sor">SOR</a>
  </li>
  <li nz-menu-item nzMatchRouter>
    <a routerLink="/internal/work-mng/tendering/boq/template">Template</a>
  </li>
  <li nz-menu-item nzMatchRouter>
    <a routerLink="/internal/work-mng/tendering/boq/manual">Manual</a>
  </li>
  <li nz-menu-item nzMatchRouter>
    <a routerLink="/internal/work-mng/tendering/boq/specs_ctlg">Specifications Catalog</a>
  </li>
</ul>