<form class="ds-master-form" nz-form [formGroup]="grantRegForm">
    <div class="row">
        <div class="col-md-8">
            <nz-form-item class="ds-item">
                <nz-form-label class="ds-label" nzRequired [nzSpan]="24" nzFor="gndr_nm">Grant Name </nz-form-label>
                <nz-form-control nzDisableAutoTips nzErrorTip="Please Select Grant">
                    <nz-select nzShowSearch nzAllowClear formControlName="grnt_id" nzPlaceHolder="">
                        <nz-option *ngFor="let g of data.grnt_lst" [nzValue]="g.grnt_id" [nzLabel]="g.grnt_nm"
                            selected="selected">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div class="col-md-4">
            <nz-form-item class="ds-item">
                <nz-form-label class="ds-label" nzRequired [nzSpan]="24" nzFor="gndr_nm">Category</nz-form-label>
                <nz-form-control nzDisableAutoTips nzErrorTip="Please Select Category">
                    <nz-select nzShowSearch nzAllowClear formControlName="grnt_ctgry_id" nzPlaceHolder="">
                        <nz-option *ngFor="let g of data.grnt_ctgry_lst" [nzValue]="g.grnt_ctgry_id"
                            [nzLabel]="g.grnt_ctgry_nm" selected="selected">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <nz-form-item class="ds-item">
                <nz-form-label class="ds-label" nzRequired [nzSpan]="24" nzFor="gndr_nm">Account Head</nz-form-label>
                <nz-form-control nzDisableAutoTips nzErrorTip="Please Select Account Head">
                    <nz-select nzShowSearch nzAllowClear formControlName="acnt_hd_ky" nzPlaceHolder="">
                        <nz-option *ngFor="let g of data.grnt_ctgry_acnt_hds_lst_t" [nzValue]="g.acnt_hd_ky"
                            [nzLabel]="g.acnt_hd_nu" selected="selected">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div class="col-md-3">
            <nz-form-item class="ds-item">
                <nz-form-label class="ds-label" nzRequired [nzSpan]="24" nzFor="gndr_nm">Year of Sanction
                </nz-form-label>
                <nz-form-control nzDisableAutoTips nzErrorTip="Please Select Year of Sanction">
                    <nz-select nzShowSearch nzAllowClear formControlName="yr_id" nzPlaceHolder="">
                        <nz-option *ngFor="let g of data.grnt_sctn_yr_lst" [nzValue]="g.yr_id" [nzLabel]="g.yr_nm"
                            selected="selected">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div class="col-md-4">
            <nz-form-item class="ds-item">
                <nz-form-label class="ds-label" nzRequired [nzSpan]="24" nzFor="gndr_nm">Released date
                </nz-form-label>
                <nz-form-control nzDisableAutoTips nzErrorTip="Please Select Released date">
                    <nz-date-picker formControlName="rlsd_dt"></nz-date-picker>
                </nz-form-control>
            </nz-form-item>
        </div>

    </div>

    <nz-divider nzOrientation="left" [nzText]="amnt_text">
        <ng-template #amnt_text>
            <span nz-icon nzType="credit-card" nzTheme="outline" class="dvdr-icn"></span>
            Ammounts <span class="sub-lbl">in Crores</span>
        </ng-template>
    </nz-divider>
    <div class="row">
        <div class="col-md-3">
            <nz-form-item class="ds-item">
                <nz-form-label class="ds-label" nzRequired [nzSpan]="24" nzFor="gndr_nm">BE
                </nz-form-label>
                <nz-form-control nzDisableAutoTips nzErrorTip="Please Enter BE Ammount">
                    <input type="number" minlength="0" nz-input formControlName="be_cr_ct" required />
                </nz-form-control>
            </nz-form-item>
        </div>
        <div class="col-md-3">
            <nz-form-item class="ds-item">
                <nz-form-label class="ds-label" [nzSpan]="24" nzFor="gndr_nm">Additional BE
                </nz-form-label>
                <nz-form-control nzDisableAutoTips nzErrorTip="Please Enter Addl. BE">
                    <input type="number" minlength="0" nz-input formControlName="adtnl_be_ct" />
                </nz-form-control>
            </nz-form-item>
        </div>
        <div class="col-md-3">
            <nz-form-item class="ds-item">
                <nz-form-label class="ds-label" [nzSpan]="24" nzFor="gndr_nm">Revised BE
                </nz-form-label>
                <nz-form-control nzDisableAutoTips nzErrorTip="Please Enter Revised BE ">
                    <input type="number" minlength="0" nz-input formControlName="rvsd_be_ct" />
                </nz-form-control>
            </nz-form-item>
        </div>
        <div class="col-md-3">
            <nz-form-item class="ds-item">
                <nz-form-label class="ds-label" [nzSpan]="24" nzFor="gndr_nm">Grants released
                </nz-form-label>
                <nz-form-control nzDisableAutoTips nzErrorTip="Please Enter Grants released">
                    <input type="number" minlength="0" nz-input formControlName="grnt_rlsd_ct" />
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <nz-divider nzOrientation="left" [nzText]="rmrk_text">
        <ng-template #rmrk_text>
            <span nz-icon nzType="edit" nzTheme="outline" class="dvdr-icn"></span>
            Remarks
        </ng-template>
    </nz-divider>
    <div class="row">
        <div class="col-md-12">
            <app-text-editor (getEdtrEntrTxt)="getEdtrEntrTxt($event)"></app-text-editor>
        </div>
    </div>

    <nz-divider nzOrientation="left" [nzText]="fl_upld_text">
        <ng-template #fl_upld_text>
            <span nz-icon nzType="file-text" nzTheme="outline" class="dvdr-icn"></span>
            Attachments
        </ng-template>
    </nz-divider>
    <div class="row">
        <div class="col-md-12">
            <app-documents-list [vndr_id]="data.atchmnt_grnt_id" [hndlr_tx]="data.atchmnt_hndlr_tx">
            </app-documents-list>
        </div>
    </div>

    <br>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <button nz-button nzType="default" class=" col m-5">Cancel</button>
        </div>
        <div class="col-md-3">
            <button nz-button nzType="primary" class="col m-5"
                [disabled]="(!grantRegForm.valid) || settings.isBtnLoading" [nzLoading]="settings.isBtnLoading">Submit
            </button>

        </div>
        <div class="col-md-3"></div>
    </div>
</form>