<div class="page-header">
    <div class="row align-items-md-center">
        <div class="col-md-6">
            <div class="media m-v-10">
                <i nz-icon nzType="file" nzTheme="twotone" class="header-icon"></i>&nbsp;
                <div class="media-body m-l-15 header-border">
                    <h6 class="mb-0 header-label">Dashboard</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="filter-card slwmftouploadform">
    <div nz-row [nzGutter]="24" class="btmbrdr">
        <div nz-col [nzSpan]="6" class="rghtbrdr crsr-pntr" *ngFor="let c of gettcktCounts" (click)="openTcktLstPage(c)">
            <div class="pndngaprvalCrd" [ngStyle]="{ 'background-color': c.icn_bg_clr_nm }">
                <div class="p_aprvl_cnt">{{c.ttl_cnt}}</div>
                <div class="p_aprvl_nm">
                    {{c.tckt_ctgry_nm}}
                </div>
            </div>
        </div>
    </div>
</div>