.filter-card {
    border-radius: 0;
    box-shadow: 0 1px 15px 1px rgba(69,65,78,.08)!important;
    background-color: #fff;
    padding: 8px 33px 16px 33px;
    margin: 0.5% 1%;
  }
  .pndngaprvalCrd{
    text-align: center;
    box-shadow: 0 1px 15px 1px rgb(69 65 78 / 8%) !important;
    padding: 20px 14px;
    margin: 10px 0px;
    .p_aprvl_cnt{
      font-size: 25px;
      font-weight: 500;
    }
    .p_aprvl_nm{
      font-size: 18px;
      font-weight: 500;
    }
  }

  .pndngaprvalCrd:nth-child(1){
    background: #fd8e35;
    border-radius: 4px;
    color: white;
  }
  .pndngaprvalCrd:nth-child(2){
    border-radius: 4px;
    color: white;
    background: #506af0!important;
}
.pndngaprvalCrd:nth-child(3){
background: #56e0b7;
border-radius: 4px;
color: white;
}
   
  
.pndngaprvalCrd:nth-child(4){
    background: #39c3fb;
    border-radius: 4px;
    color: white;   
}

.crsr-pntr{
  cursor: pointer;
}