<!-- <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()" nz-row nzGutter="16">
    <nz-form-item nz-col nzSpan="6" class="ml-3">
        <nz-form-label >Type</nz-form-label> 
        <nz-form-control>
          <nz-select nzShowSearch  nzPlaceHolder="Select Type" formControlName="type">
            <nz-option nzValue="tenders" nzLabel="Tenders"></nz-option>
            <nz-option nzValue="invoices" nzLabel="Invoices"></nz-option>
          </nz-select>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-col nzSpan="6" class="ml-3">
      <nz-form-label>Status</nz-form-label>
      <nz-form-control>
        <nz-select formControlName="status"  nzPlaceHolder="Select Status" nzShowSearch >
          <nz-option nzValue="open" nzLabel="Open"></nz-option>
          <nz-option nzValue="close" nzLabel="Close"></nz-option>
          <nz-option nzValue="accept" nzLabel="Accept"></nz-option>
          <nz-option nzValue="reject" nzLabel="Reject"></nz-option>
        </nz-select>
      </nz-form-control>          
    </nz-form-item>
    <button nz-button nzType="primary" nz-col nzSpan="2" class="ml-2"><span nz-icon nzType="search" nzTheme="outline"></span>Search</button>        
</form> -->
<div class="ds-card grid" id="load" #container>
  <dx-data-grid class="p-8 flow" id="gridContainer" [wordWrapEnabled]="true" [dataSource]="invoicesData"
    [remoteOperations]="false" [allowColumnReordering]="true" [rowAlternationEnabled]="true"
    [allowColumnResizing]="true" [showColumnLines]="true" [showRowLines]="true" [showBorders]="true" style="width:100%"
    (onToolbarPreparing)="(permissions.insrt_in==1)?onToolbarPreparing($event):false">
    <dxo-paging [pageSize]="5"></dxo-paging>
    <dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>
    <dxo-pager [visible]="true" [showPageSizeSelector]="true" [allowedPageSizes]="[5,10, 25, 50, 100]"
      [showInfo]="true"></dxo-pager>
    <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
    <dxo-filter-panel [visible]="true"></dxo-filter-panel>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-group-panel [visible]="true"></dxo-group-panel>
    <dxo-grouping [autoExpandAll]="false"></dxo-grouping>
    <dxo-column-chooser [enabled]="true" mode="select">
    </dxo-column-chooser>
    <dxo-export [enabled]="(permissions.exprt_in==1)?true:false" [allowExportSelectedData]="true"
      fileName="Change Log"></dxo-export>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxi-column *ngFor="let f of columnDefs" [visible]="true" [dataField]="f.field" [cellTemplate]="f.cellTemplate"
      [caption]="f.headerName" [alignment]="f.alignment" [width]="f.width" [allowResizing]="false">
    </dxi-column>
    <div *dxTemplate="let data of 'snoTempelate'">
      {{data.row.rowIndex + 1}}
    </div>
    <div *dxTemplate="let d of 'createDate'">
      {{ d.data.created_date | date : "dd-MM-YYYY"}}
    </div>
    <div *dxTemplate="let d of 'taxAmt'">
      {{ d.data.tax | currencyIn}}
    </div>
    <div *dxTemplate="let d of 'Amt'">
      {{ d.data.amount | currencyIn}}
    </div>
    <div *dxTemplate="let d of 'grandTotal'">
      {{ d.data.grand_total | currencyIn}}
    </div>
    <dxi-column [showInColumnChooser]="false" type="buttons" [width]="100" cellTemplate="viewTemplate">
      <div *dxTemplate="let data of 'viewTemplate'">
        <!-- <div > -->
          <!-- <button class="approveBtn" (click)="onClickApprove(data.data)">
            Approve
          </button>
        </div>
        <ng-template #approved>
          <button class="approvedBtn" (click)="onClickApprove(data.data)">
            Approved
          </button>
        </ng-template>
        <ng-template #rejected>
          <button class="approvedBtn" (click)="onClickApprove(data.data)">
            Approved
          </button>
        </ng-template> -->

        <ng-container *ngIf="data.data.status==='open';else cancel">
          <button class="approveBtn" (click)="onClickApprove(data.data)">
            Approve
          </button>
        </ng-container>
        <ng-template #cancel>
            <ng-container *ngIf="data.data.status==='cancel';else approve">
              <button class="canceledBtn" (click)="onClickApprove(data.data)">
                Rejected
              </button>
            </ng-container>
        </ng-template>
        <ng-template #approve>
          <button class="approvedBtn" (click)="onClickApprove(data.data)">
            Approved
          </button>
        </ng-template>
      </div>
    </dxi-column>

  </dx-data-grid>
</div>

<dx-load-panel [container]="container" [visible]="isLoading" [showIndicator]="true" [position]="{ of: '#load' }"
  [showPane]="true" [shading]="true"></dx-load-panel>

<nz-modal [(nzVisible)]="isVisible" nzWidth="700px" nzTitle="User Approvals" 
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()" 
  [nzFooter]="modalFooter">
  <ng-container *nzModalContent>
    <div nz-row>
      <div nz-col nzSpan="12">
        <div nz-row>
          <div nz-col nzSpan="8" class="name">Invoice No.: </div>
          <div nz-col nzSpan="8">{{ currentInvoiceData?.invoice_number }}</div>
        </div>
        <div nz-row>
          <div nz-col nzSpan="8" class="name">Vender Name: </div>
          <div nz-col nzSpan="8">{{ currentInvoiceData?.vendor_name }}</div>
        </div>
        <div nz-row>
          <div nz-col nzSpan="8" class="name">Date: </div>
          <div nz-col nzSpan="8">{{ currentInvoiceData?.created_date | date : "dd-MM-YYYY" }}</div>
        </div>
      </div>
      <div nz-col nzSpan="12">
        <div nz-row>
          <div nz-col nzSpan="8" class="name">Amount: </div>
          <div nz-col nzSpan="8">{{ currentInvoiceData?.amount | currencyIn }}</div>
        </div>
        <div nz-row>
          <div nz-col nzSpan="8" class="name">Tax: </div>
          <div nz-col nzSpan="14">{{ currentInvoiceData?.tax | currencyIn }}</div>
        </div>
        <div nz-row>
          <div nz-col nzSpan="8" class="name">Total Amount: </div>
          <div nz-col nzSpan="14">{{ currentInvoiceData?.grand_total | currencyIn }}</div>
        </div>
      </div>
    </div>
    <nz-divider nzPlain></nz-divider>      
    <div class="usersTable">
      <nz-table #basicTable [nzData]="userStatusList" nzShowPagination nzShowSizeChanger
        [nzPageSizeOptions]=[5,10,15,20]>
        <thead>
          <tr>
            <th>S.No.</th>
            <th>Department Name</th>            
            <th>Approved/Rejected by</th>
            <th>Status</th>
            <th>Reason</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of userStatusList; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ data?.department_name }}</td>
            <td>{{ data?.user_name }}</td>
            <td>
              <nz-select [(ngModel)]="userStatus" *ngIf="(data?.department_id === currentDeptId && currentInvoiceData.status !== 'paid')">
                <nz-option nzValue="Pending" nzLabel="Pending"></nz-option>
                <nz-option nzValue="Approved" nzLabel="Approve"></nz-option>
                <nz-option nzValue="Rejected" nzLabel="Reject"></nz-option>
              </nz-select>
              <div *ngIf="(data?.department_id !== currentDeptId) || (data?.user_id === currentUserId && currentInvoiceData.status === 'paid')"> {{ data?.status }} </div>
            </td>
            <td>{{ (userStatus==='Rejected' || data.status==='Rejected') ? data?.reason : '' }}</td>
          </tr>
          <tr>
            <td colspan="3" *ngIf="userStatus==='Rejected'">
              <textarea nz-input [(ngModel)]="reason" placeholder="Please enter a reason"
                [nzAutosize]="{ minRows: 2, maxRows: 6 }"></textarea>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </ng-container>
  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
    <button *ngIf="currentInvoiceData.status==='open'" nz-button nzType="primary" (click)="handleOk()">Ok</button>
  </ng-template> 
</nz-modal>