<!-- <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()" nz-row nzGutter="16">
    <nz-form-item nz-col nzSpan="6" class="ml-3">
        <nz-form-label >Type</nz-form-label> 
        <nz-form-control>
          <nz-select nzShowSearch  nzPlaceHolder="Select Type" formControlName="type">
            <nz-option nzValue="tenders" nzLabel="Tenders"></nz-option>
            <nz-option nzValue="invoices" nzLabel="Invoices"></nz-option>
          </nz-select>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-col nzSpan="6" class="ml-3">
      <nz-form-label>Status</nz-form-label>
      <nz-form-control>
        <nz-select formControlName="status"  nzPlaceHolder="Select Status" nzShowSearch >
          <nz-option nzValue="open" nzLabel="Open"></nz-option>
          <nz-option nzValue="close" nzLabel="Close"></nz-option>
          <nz-option nzValue="accept" nzLabel="Accept"></nz-option>
          <nz-option nzValue="reject" nzLabel="Reject"></nz-option>
        </nz-select>
      </nz-form-control>          
    </nz-form-item>
    <button nz-button nzType="primary" nz-col nzSpan="2" class="ml-2"><span nz-icon nzType="search" nzTheme="outline"></span>Search</button>        
</form> -->
<div class="ds-card grid">
  <form class="forms" [formGroup]="approvalFilterForm" nz-row nzJustify="space-between" nzAlign="middle">
    <nz-form-item nz-col nzSpan="4">
      <nz-form-label>Start Date</nz-form-label>
      <nz-form-control>
        <nz-date-picker formControlName="start_date"></nz-date-picker>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-col nzSpan="4">
      <nz-form-label>End Date</nz-form-label>
      <nz-form-control>
        <nz-date-picker formControlName="end_date"></nz-date-picker>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-col nzSpan="4">
      <nz-form-label>Type</nz-form-label>
      <nz-form-control nzErrorTip="Please Select Type">
        <nz-select formControlName="type" nzPlaceHolder="Type" nzShowSearch>
          <nz-option nzValue="invoice" nzLabel="Invoices" nzSelected></nz-option>
          <nz-option nzValue="expense" nzLabel="Expenditure"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-col nzSpan="4">
      <nz-form-label>Status</nz-form-label>
      <nz-form-control nzErrorTip="Please select account">
        <nz-select formControlName="status" nzPlaceHolder="Status" nzShowSearch>
          <nz-option nzValue="%" nzLabel="All" nzSelected></nz-option>
          <nz-option nzValue="open" nzLabel="Open"></nz-option>
          <nz-option nzValue="cancel" nzLabel="Cancel"></nz-option>
          <nz-option nzValue="paid" nzLabel="Paid"></nz-option>
          <nz-option nzValue="reject" nzLabel="Reject"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <button nz-button nzType="primary" nz-col nzSpan="4" (click)="getData()">
      Submit
    </button>
  </form>
</div>
<div class="ds-card grid" id="load" #container>
  <dx-data-grid class="p-8 flow" id="gridContainer" [wordWrapEnabled]="true" [dataSource]="approvalData"
    [remoteOperations]="false" [allowColumnReordering]="true" [rowAlternationEnabled]="true"
    [allowColumnResizing]="true" [showColumnLines]="true" [showRowLines]="true" [showBorders]="true" style="width:100%"
    (onToolbarPreparing)="(permissions.insrt_in==1)?onToolbarPreparing($event):false">
    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-scrolling [scrollByContent]="true"
    [scrollByThumb]="true"
    mode="standard"
    [useNative]="true"
    showScrollbar="onScroll"></dxo-scrolling>
    <dxo-pager [visible]="true" [showPageSizeSelector]="true" [allowedPageSizes]="[10, 25, 50, 100]"
      [showInfo]="true"></dxo-pager>
    <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
    <dxo-filter-panel [visible]="true"></dxo-filter-panel>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-group-panel [visible]="true"></dxo-group-panel>
    <dxo-grouping [autoExpandAll]="false"></dxo-grouping>
    <dxo-column-chooser [enabled]="true" mode="select">
    </dxo-column-chooser>
    <dxo-export [enabled]="(permissions.exprt_in==1)?true:false" [allowExportSelectedData]="true"
      fileName="Change Log"></dxo-export>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxi-column *ngFor="let f of columnDefs" [visible]="true" [dataField]="f.field" [cellTemplate]="f.cellTemplate"
      [caption]="f.headerName" [alignment]="f.alignment" [width]="f.width" [allowResizing]="false">
    </dxi-column>
    <div *dxTemplate="let data of 'snoTempelate'">
      {{data.row.rowIndex + 1}}
    </div>
    <div *dxTemplate="let d of 'createDate'">
      {{ d.data.created_date | date : "dd-MM-YYYY"}}
    </div>
    <div *dxTemplate="let d of 'taxAmt'">
      {{ d.data.tax | currencyIn}}
    </div>
    <div *dxTemplate="let d of 'tax'">
      {{ d.data.tax}}
    </div>
    <div *dxTemplate="let d of 'Amt'">
      {{ d.data.amount | currencyIn}}
    </div>
    <div *dxTemplate="let d of 'grandTotal'">
      {{ d.data.grand_total | currencyIn}}
    </div>
    <div *dxTemplate="let d of 'total'">
      {{ d.data.total | currencyIn}}
    </div>
    <dxi-column [showInColumnChooser]="false" type="buttons" [width]="150" cellTemplate="viewTemplate" caption="Action">
      <div *dxTemplate="let data of 'viewTemplate'">
        <ng-container *ngIf="data.data.status==='open';else reject">
          <button class="approveBtn" (click)="onClickApprove(data.data)">
            Approve
          </button>
        </ng-container>
        <ng-template #reject>
            <ng-container *ngIf="data.data.status==='reject';else paid">
              <button class="rejectedBtn" (click)="onClickApprove(data.data)">
                Rejected
              </button>
            </ng-container>
        </ng-template>
        <ng-template #paid>
          <ng-container *ngIf="data.data.status==='paid';else cancel">
            <button class="approvedBtn" (click)="onClickApprove(data.data)">
              Approved
            </button>
          </ng-container>
        </ng-template>
        <ng-template #cancel>
            <button class="cancelledBtn" (click)="onClickApprove(data.data)">
              Cancelled
            </button>
        </ng-template>
      </div>
    </dxi-column>

  </dx-data-grid>
</div>

<dx-load-panel [container]="container" [visible]="isLoading" [showIndicator]="true" [position]="{ of: '#load' }"
  [showPane]="true" [shading]="true"></dx-load-panel>

<nz-modal [(nzVisible)]="isVisible" nzWidth="720px" [nzTitle]="approvalFilterForm.value.type=='invoice'?'Invoice Approvals': 'Expenses Approvals'" 
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()" 
  [nzFooter]="modalFooter">
  <ng-container *nzModalContent>
    <div nz-row>
      <div nz-col nzSpan="12">
        <div nz-row>
          <div nz-col nzSpan="10" class="name">Invoice Number : </div>
          <div *ngIf="approvalFilterForm.value.type=='invoice';else expense_number" nz-col nzSpan="8">{{ currentInvoiceData?.invoice_number }}</div>
          <ng-template #expense_number>
            {{ currentInvoiceData?.exp_inv_number }}
          </ng-template>
        </div>
        <div nz-row>
          <div nz-col nzSpan="10" class="name">Date : </div>
          <div nz-col nzSpan="8">{{ currentInvoiceData?.created_date | date : "dd-MM-YYYY" }}</div>
        </div>
        <div nz-row >
          <ng-container *ngIf="approvalFilterForm.value.type=='invoice';else expense_category">
            <div nz-col nzSpan="10" class="name">Vender Name : </div>
            <div nz-col nzSpan="8">{{ currentInvoiceData?.vendor_name }}</div>
          </ng-container>
          <ng-template #expense_category>
            <div nz-col nzSpan="10" class="name">Category : </div>
            <div nz-col nzSpan="8">{{ currentInvoiceData?.category.charAt(0).toUpperCase()
              + currentInvoiceData?.category.slice(1) }}</div>
          </ng-template>
        </div>
      </div>
      <div nz-col nzSpan="12">
        <div nz-row>
          <div nz-col nzSpan="8" class="name">Amount: </div>
          <div nz-col nzSpan="8">{{ currentInvoiceData?.amount | currencyIn }}</div>
        </div>
        <div nz-row>
          <div nz-col nzSpan="8" class="name">Tax : </div>
          <div *ngIf="approvalFilterForm.value.type=='invoice';else expense_tax" nz-col nzSpan="14">{{ currentInvoiceData?.tax  | currencyIn }}</div>
          <ng-template #expense_tax>
            {{ currentInvoiceData?.tax }}%
          </ng-template>
        </div>
        <div nz-row>
          <div nz-col nzSpan="8" class="name">Total Amount: </div>
          <div *ngIf="approvalFilterForm.value.type=='invoice';else expense_total" nz-col nzSpan="14">{{ currentInvoiceData?.grand_total | currencyIn }}</div>
          <ng-template #expense_total>
            {{ currentInvoiceData?.total | currencyIn }}
          </ng-template>
        </div>
      </div>
      <div nz-col nzSpan="12">
        <div nz-row>
          <nz-list  nzSize="small">
            <nz-list-header>Attachments</nz-list-header>
            <nz-list-item *ngFor="let item of attachments">
              <ng-container *ngIf="item.length > 0;else noitem">
                <a [href]="getUploadedFIlesUrl+item" target="_blank">{{item}}</a>
              </ng-container>
              <ng-template #noitem>
                No Attachments
              </ng-template>
            </nz-list-item>
          </nz-list>
        </div>
      </div>
    </div>
    <nz-divider nzPlain></nz-divider>      
    <div class="usersTable" *ngIf="currentInvoiceData.status=='open' || currentInvoiceData.status=='reject' || currentInvoiceData.status=='paid' ;else cancel">
      <nz-table #basicTable [nzData]="userStatusList" [nzShowPagination]="fasle"	>
        <thead>
          <tr>
            <th>S.No.</th>
            <th>Department Name</th>            
            <th>Approved/Rejected by</th>
            <th>Status</th>
            <th>Reason</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of userStatusList; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ data?.department_name }}</td>
            <td>{{ data?.user_name }}</td>
            <td>
              <nz-select [(ngModel)]="userStatus" *ngIf="(data?.department_id === currentDeptId && currentInvoiceData.status !== 'paid' && data?.status ==='Pending')">
                <nz-option nzValue="Pending" nzLabel="Pending"></nz-option>
                <nz-option nzValue="Approved" nzLabel="Approve"></nz-option>
                <nz-option nzValue="Rejected" nzLabel="Reject"></nz-option>
              </nz-select>
              <div *ngIf="(data?.department_id !== currentDeptId) || (data?.user_id === currentUserId && currentInvoiceData.status === 'paid') || (data?.status !=='Pending')">
                 {{ data?.status }} 
              </div>
            </td>
            <td>{{ (userStatus==='Rejected' || data.status==='Rejected') ? data?.reason : '' }}</td>
          </tr>
          <tr>
            <td colspan="3" *ngIf="(userStatus==='Rejected') && (!disableOkBtn)">
              <textarea nz-input [(ngModel)]="reason" placeholder="Please enter a reason"
                [nzAutosize]="{ minRows: 2, maxRows: 6 }"></textarea>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
    <ng-template #cancel>
        <b>Reason : {{currentInvoiceData.cancel_reason}}</b>
    </ng-template>
  </ng-container>
  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
    <button *ngIf="((currentInvoiceData.status==='open' || currentInvoiceData.status==='cancel') && !disableOkBtn)" nz-button nzType="primary" (click)="handleOk()">Ok</button>
  </ng-template> 
</nz-modal>