<div class="page-header">
    <div class="row align-items-md-center">
        <div class="col-md-12">
            <div class="media">
                <div class="media-body m-l-15 header-border">
                    <h6 class="mb-0 header-label">Grants Registration</h6>
                </div>
            </div>
        </div>
    </div>
</div>


<div *ngIf="false">
    <div class="row">
        <div class="col-md-6">
            <div class="filter-card cstmheight">
                <div class="row">
                    <div class="col-md-6">
                        <div class="pndngaprvalCrd">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="p_aprvl_cnt">14</div>
                                    <div class="p_aprvl_nm">
                                        Total Grants
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="rightimg">
                                        <img src="assets/images/logo/farmer.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="pndngaprvalCrd">
                            <div class="row">
                                <div class="col-md-9">

                                    <div class="p_aprvl_cnt">4</div>
                                    <div class="p_aprvl_nm">
                                        Plain
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="rightimg">
                                        <img src="assets/images/logo/check-mark.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="pndngaprvalCrd">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="p_aprvl_cnt">9</div>
                                    <div class="p_aprvl_nm">
                                        SCP
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="rightimg">
                                        <img src="assets/images/logo/time.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="pndngaprvalCrd">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="p_aprvl_cnt">1</div>
                                    <div class="p_aprvl_nm">
                                        TSP
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="rightimg">
                                        <img src="assets/images/logo/accept.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="filter-card cstmheight">
                <h3>Monthly Grants Registration statistics</h3>
                <canvas id="stackedBarChart" style="height: 100%;
                width: 100%;"></canvas>
            </div>
        </div>
    </div>
</div>

<div>
    <div nz-row class="gridTop" *ngIf="(permissions.slct_in==1)?true:false">
        <div class="ds-card grid">
            <dx-data-grid class="p-8" id="gridContainer" [wordWrapEnabled]="true" [dataSource]="rowData"
                [remoteOperations]="false" [allowColumnReordering]="true" [rowAlternationEnabled]="true"
                [allowColumnResizing]="true" [showColumnLines]="true" [showRowLines]="true" [showBorders]="true"
                style="width:100%" (onToolbarPreparing)="(permissions.insrt_in==1)?onToolbarPreparing($event):false">
                <dxo-paging [pageSize]="10"></dxo-paging>
                <dxo-pager [visible]="true" [showPageSizeSelector]="true" [allowedPageSizes]="[10, 25, 50, 100]"
                    [showInfo]="true"></dxo-pager>
                <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
                <dxo-filter-panel [visible]="true"></dxo-filter-panel>
                <dxo-header-filter [visible]="true"></dxo-header-filter>
                <dxo-group-panel [visible]="true"></dxo-group-panel>
                <dxo-grouping [autoExpandAll]="false"></dxo-grouping>
                <dxo-column-chooser [enabled]="true" mode="select">
                </dxo-column-chooser>
                <dxo-export [enabled]="(permissions.exprt_in==1)?true:false" [allowExportSelectedData]="true"
                    fileName="Change Log"></dxo-export>
                <dxo-filter-row [visible]="true"></dxo-filter-row>
                <dxi-column *ngFor="let f of columnDefs" [visible]="!f.hide" [dataField]="f.field"
                    [caption]="f.headerName" [alignment]="f.alignment" [width]="f.width" [allowResizing]="true">
                </dxi-column>
                <dxi-column [showInColumnChooser]="false" [visible]="(permissions.updt_in==1)?true:false" type="buttons"
                    [width]="100" cellTemplate="viewTemplate">
                    <div *dxTemplate="let data of 'viewTemplate'">
                        <div class="tblEdtBtn" (click)="onView(data)">
                            View
                        </div>
                    </div>
                </dxi-column>
                <dxi-column [showInColumnChooser]="false" type="buttons" [width]="100" cellTemplate="EditTemplate">
                    <div *dxTemplate="let data of 'EditTemplate'" (click)="openSideBarEdit('edit',data.data)">
                        <div class="cursor-pointer tblEdtBtn">
                            Edit
                        </div>
                    </div>
                </dxi-column>

                <dxi-column [showInColumnChooser]="false" [visible]="true" type="buttons" [width]="150"
                    cellTemplate="frmrTemplate">
                    <div *dxTemplate="let data of 'frmrTemplate'">
                        <div class="tblEdtBtn" (click)="getFarmerIDCard(data.data)">
                            Farmer ID Card
                        </div>

                    </div>
                </dxi-column>
            </dx-data-grid>
        </div>
    </div>
</div>


<div>
    <nz-drawer [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom': '53px' }"
        [nzMaskClosable]="false" [nzWidth]="1050" [nzVisible]="settings.shw_sd_nv" [nzTitle]="data.sd_nv_hdng"
        (nzOnClose)="closeSideBar()">
        <ng-container *nzDrawerContent>
            <div class="sdebarfilter-card mgnb-2 addbeneficiaryForm">
                <app-grant-reg-form></app-grant-reg-form>
            </div>
        </ng-container>
    </nz-drawer>
</div>