<div class="side-nav" sideNav>

    <ul  nz-menu nzMode="inline" [nzInlineCollapsed]="isFolded" [nzTheme]="isSideNavDark ? 'dark' : 'light'">
        <!-- <ng-container *ngFor="let item of mainMenuItems">
            <li *ngIf="item.children.length == 0" nz-menu-item
                nz-tooltip
                nzTooltipPlacement="right"
                [nzTooltipTitle]="isFolded ? item.title : ''"
                [routerLink]="'/internal/ams/'+item.path">
                <span nz-icon [nzType]="item.icon"></span>
                <span>{{item.title}}</span>
            </li>


            <li  *ngIf="item.children.length > 0" 
                nz-submenu [nzTitle]="item.title" 
                [nzIcon]="item.icon">
                <ul>
                    <li nz-menu-item *ngFor="let subItem of item.children"
                        [routerLink]="'/internal/ams/'+subItem.path">
                        {{subItem.title}}
                    </li>
                </ul>
            </li>
        </ng-container> -->
        <ng-container *ngFor="let item of mainMenuItems">
            <li *ngIf="!item.children" nz-menu-item
                nz-tooltip
                nzTooltipPlacement="right"
                [nzMatchRouter]="true"
                [nzTooltipTitle]="isFolded ? item.title : ''"
                routerLink="/internal/ams/{{ item.path }}">
              <span nz-icon nzType="{{item.icon}}" nzTheme="outline"></span>
              <span>{{ item.title }}</span>
            </li>

            <li *ngIf="item.children"
             nz-submenu [nzTitle]="item.title"
             [nzIcon]="item.icon">
              <ul>
                <li
                  nz-menu-item
                  routerLink="/internal/ams/{{ child.path }}"
                  *ngFor="let child of item.children"
                  [nzMatchRouter]="true"
                >
                <span nz-icon nzType="{{child.icon}}" nzTheme="outline"></span>
                  <span>{{ child.title }}</span>
                </li>
              </ul>
            </li>
            <!-- <ng-template #title>
              <span nz-icon nzType="{{item.icon}}" nzTheme="outline"></span>
              <span>{{ item.title }}</span>
            </ng-template> -->
          </ng-container>


      </ul>

    </div>   
    
    <!-- <style>
      .subMenuMargin {
        margin-top: -15px;
      }
    </style> -->